*{
    
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin:30px auto auto auto;
    
}
.name_and_details{
    background-color: grey;
}

.name_and_details img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    top:30px;
    margin-left: 520px;
    position: relative;
    
}
.name{
    
    top: 0px;
    left:20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    bottom: 60px;
    margin-left: 430px;
    margin-right: 430px;
    height: 50px;
    border-radius: 10px;
    background-color: orange;
}
 

h2{
    font-family: Arial, Helvetica, sans-serif;
    color:  grey;
    font-size: 30px;
}
.intro, .skills{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
}

.welcome{
    
    margin-top: 1px;
    border-bottom: 1px solid black;
}
.welcome_folks{
    color: grey;
}
.twelve, .degree, .tenth{
    color: rgb(199, 39, 178);
}
.details{
    padding-top: 40px;
    padding-left: 50px;
    width: 50%;
    float: right;
    color: black;
    font-size: 20px;
}
.insider{
    padding-right: 30px;
    width: 50%;
    float: left;
    border-right: 2px solid grey;
}

.areas_interest{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.bar{
    background: yellow;
    display: block;
    height: 2px;
    border: 1px solid yellow;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px yellow;

}
.wexp, .eveman{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

